body{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
}

.show-title {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    align-items: flex-start; /* Aligns content at the top */
    height: 500px;
    width: 800px;
    border: 2px solid black;
    padding-top: 20px; /* Adjust as needed */
    flex-direction: column;
}

.buttons button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    margin: 8px;
    background-color: black;
    color: lime;
    width: 80px;
}

.box{
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 60px;
    border: 2px solid white;
}

.box-property{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
